.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 2px;    /* to avoid line flickering */
}
.x.axis path {
  display: none;
}
.y .tick line {
  stroke: #ddd;
}
path.domain {
  stroke: none;
}
